.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

main {
    margin-top: 100px;
}

.card-container {
    position: relative;
}

.card {
    position: relative;
    width: 250px;
    padding: 30px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
}